<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:30</td>  <td>Introduction</td> </tr>
      <tr> <td>09:35</td>  <td>Introduction to R and R studio</td> </tr>
      <tr> <td>10:30</td>  <td>Project management with R studio</td> </tr>
      <tr> <td>11:00</td>  <td>Seeking help</td> </tr>
      <tr> <td>11:20</td>  <td>Data structures</td> </tr>
      <tr> <td>11:55</td>  <td>Day 1 summary</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Introduction to day 2</td> </tr>
      <tr> <td>09:35</td>  <td>Data structures (continued)</td> </tr>
      <tr> <td>09:55</td>  <td>Exploring data frames</td> </tr>
      <tr> <td>10:25</td>  <td>Subsetting data</td> </tr>
      <tr> <td>11:15</td>  <td>Control flow</td> </tr>
      <tr> <td>11:50</td>  <td>Day 2 summary</td> </tr>
      <tr> <td>11:55</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
