<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Introduction</td> </tr>
      <tr> <td>09:35</td>  <td>Introduction to R and R studio</td> </tr>
      <tr> <td>10:30</td>  <td>Project management with R studio</td> </tr>
      <tr> <td>11:00</td>  <td>Seeking help</td> </tr>
      <tr> <td>11:20</td>  <td>Data structures</td> </tr>
      <tr> <td>11:55</td>  <td>Day 1 summary</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Introduction to day 2</td> </tr>
      <tr> <td>09:35</td>  <td>Data structures (continued)</td> </tr>
      <tr> <td>09:55</td>  <td>Exploring data frames</td> </tr>
      <tr> <td>10:25</td>  <td>Subsetting data</td> </tr>
      <tr> <td>11:15</td>  <td>Control flow</td> </tr>
      <tr> <td>11:55</td>  <td>Day 2 summary</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Introduction to day 3</td> </tr>     
      <tr> <td>09:35</td>  <td>Control flow (continued)</td> </tr>
      <tr> <td>10:05</td>  <td>Creating publication-quality graphics with ggplot2</td> </tr>    
      <tr> <td>11:25</td>  <td>Vectorisation</td> </tr>    
      <tr> <td>11:55</td>  <td>Day 3 summary</td> </tr>
    </table> 
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Introduction to day 4</td> </tr>
      <tr> <td>09:35</td>  <td>Functions explained</td> </tr>
      <tr> <td>10:35</td>  <td>Writing data</td> </tr>
      <tr> <td>10:55</td>  <td>Splitting and combining data frames with plyr</td> </tr>
      <tr> <td>11:55</td>  <td>Day 4 summary</td> </tr>
    </table> 
  </div>
  <div class="col-md-6">
    <h3>Day 5</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Introduction to day 5</td> </tr>
      <tr> <td>09:35</td>  <td>Data manipulation with dplyr</td> </tr>
      <tr> <td>10:30</td>  <td>Data manipulation with tidyr</td> </tr>
      <tr> <td>11:15</td>  <td>Producing reports with knitr</td> </tr>
      <tr> <td>11:55</td>  <td>Day 4 summary</td> </tr>
    </table> 
  </div>
</div>
